@import url("index.css");

:root {
	--bg:		#323d43;
	--fg:		#d8caac;
	--title:	#a7c080;
	--hl:		#83c092;
	--black:	#465258;
	--red:		#e67e80;
	--green:	#a7c080;
	--yellow:	#dbbc7f;
	--blue:		#7fbbb3;
	--magenta:	#d699b6;
	--cyan:		#83c092;
}